:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --direction-color: #ffffff;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

/* =============== COMPONENTS =============== */
.accent {
  color: var(--accent-color);
}

.logo {
  font-family: var(-secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.modal-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--direction-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
/* =============== END COMPONENTS =============== */

/* =============== HEADER =============== */
.navigation-list-link,
.header-mail-link,
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.navigation-list-link {
  color: var(--main-text-color);
}

.link-current {
  color: var(--accent-color);
}

.header-mail-link,
.header-tel-link {
  color: var(--second-text-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}
/* =============== END HEADER =============== */

/* =============== HERO =============== */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* =============== END HERO =============== */

/* =============== ОСОБЕННОСТИ =============== */
.features-list-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.941;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text-color);
}

.features-list-interpretation {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
/* =============== END ОСОБЕННОСТИ =============== */

/* ================ НАША КОМАНДА ================ */
.team-list-name,
.team-list-position {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.team-list-name {
  font-weight: 500;
  color: var(--main-text-color);
}

.team-list-position {
  font-weight: 400;
  color: var(--second-text-color);
}
/* ================ END НАША КОМАНДА ================ */

/* ===================== FOOTER ===================== */
.contact-list-address,
.contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
